@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.left-sidebar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: $secondary-color-2;
  color: $primary-color-2;
  padding: 10px 16px;
  position: relative;
  overflow: scroll;
  border-bottom: 1px solid $base-color;

  @include tablet {
    padding: 22px 36px;
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.05);
  }

  @include desktop {
    display: flex;
    justify-content: start;
    right: 0;
    gap: 0.5rem;
    flex: 1;
    padding: 1rem;
    position: sticky;
    top: 0;
    height: 100vh;
    flex-direction: column;
    z-index: 0;
    box-shadow: none;
    border-bottom: none;
    box-sizing: border-box;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &__links {
    display: flex;
    justify-content: end;
    gap: 0;

    @include tablet {
      gap: 16px;
    }

    @include desktop {
      gap: 10px;
      justify-content: start;
      flex-direction: column;
    }

    &--create-story {
      display: none;

      @include desktop {
        display: block;
        text-decoration: none;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0 4px;

    @include tablet {
      padding: 0 16px;
    }

    &--create-story {
      background-color: $primary-color-1;
      padding: 8px 16px;
      border-radius: 8px;
    }
  }

  &__content {
    display: none;

    @include desktop {
      font-weight: 600;
      display: flex;
    }

    &--create-story {
      color: $secondary-color-2;
    }
  }

  &__icon {
    &--create-story {
      color: $secondary-color-2;
      fill: $secondary-color-2 !important;
    }
  }
}

.logo {
  width: 70px;
  margin-left: -4px;

  @include tablet {
    width: 75px;
    margin-left: -4px;
  }

  @include desktop {
    display: none;
  }
}
