@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.feed {
  width: 100%;
  position: relative;
  background-color: $secondary-color-2;
  padding-bottom: 48px;
  overflow-y: auto;
  box-sizing: border-box;

  @include tablet {
    top: 80px;
    padding: 12px 0 60px 0;
    background-color: $base-color;
  }

  @include desktop {
    top: 0;
    flex: 3.5;
    padding: 0;
  }
}
