@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.feed {
  width: 100%;
  position: relative;
  background-color: $secondary-color-2;
  padding-bottom: 48px;
  overflow-y: auto;
  box-sizing: border-box;

  @include tablet {
    top: 56px;
    padding: 12px 0 60px 0;
    background-color: $base-color;
  }

  @include desktop {
    top: 0;
    flex: 3.5;
    padding: 0;
  }
}

.card {
  background-color: $secondary-color-2;
  border-bottom: 1px solid $base-color;
  padding: 16px;

  @include tablet {
    width: 80vw;
    padding: 24px 32px;
    margin: 16px auto;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.05);
  }

  @include desktop {
    width: 50vw;
    margin: 16px auto;
  }

  &__header {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
  }

  &__img {
    margin-top: 0.5rem;

    @include tablet {
      border-radius: 4px 4px 0 0;
      margin: 16px 0 12px 0;
    }
  }
}

.traveler {
  display: flex;
  flex-direction: column;

  &__posted-at {
    color: $primary-color-2;
    font-weight: 400;
    line-height: 0.5rem;
  }
}

.stats {
  display: flex;
  gap: 16px;

  &__info {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__icon {
    fill: $primary-color-1 !important;
  }
}
