@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.image-carousel {
  margin: 2rem 1rem;

  @include tablet {
    width: 12.5rem;
    margin: 0.625rem;
  }
}

.image-slide img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}
