$font-family: "Poppins", sans-serif;
$font-special: "Pacifico", "Poppins", sans-serif;
$primary-color-1: #d90000;
$primary-color-2: #000000;
$secondary-color-1: #dc5f00;
$secondary-color-2: #ffffff;
$accent-color-1: #8d8282;
$base-color: #eeeeee;
$error: #d51919;
