@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.right-sidebar {
  display: none;

  @include desktop {
    flex: 1.5;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: $base-color;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.suggested-places {
  background-color: $secondary-color-2;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 1rem 1rem 1rem 0;

  &__title {
    padding-bottom: 16px;
  }

  &__image-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
  }

  &__img {
    width: calc(50% - 8px);
    border-radius: 4px;
    object-fit: cover;
    height: 9.375rem;
  }
}

.suggested-travelers {
  background-color: $secondary-color-2;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 1rem 1rem 0.5rem 0;

  &__title {
    padding-bottom: 1rem;
  }

  &__name {
    margin-top: -0.5rem;
  }

  &__wrapper {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__bio {
    font-size: 0.6875rem;
    line-height: 0.625rem;
    color: $accent-color-1;
  }
}
