@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.flash-message {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: space-between;
  display: flex;
  max-width: 288px;
  height: auto;

  &__close {
    fill: $secondary-color-2 !important;
    width: 15px !important;
    height: 15px !important;
    margin-left: 4px;
  }

  &__text {
    color: $secondary-color-2;
  }

  &__close-wrapper {
    display: flex;
  }
}

.flash-message.success {
  background-color: rgba(76, 175, 80, 0.6);
}

.flash-message.error {
  background-color: rgba(255, 0, 0, 0.6);
}

.flash-message.info {
  background-color: rgba(45, 230, 244, 0.6);
}
