@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-top: 1px solid #eeeeee;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding: 10px 0 0 0;
  position: fixed;
  bottom: -8px;
  left: 0;

  @include tablet {
    padding: 16px 0;
    border-top: none;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.05);
  }

  @include desktop {
    top: 0;
    left: 0;
    height: 60px;
    justify-content: right;
    gap: 16px;
    border-top: none;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid $base-color;
    align-items: center;
  }

  &__home-nav-link {
    text-decoration: none;
    display: flex;
    cursor: pointer;

    &--active {
      @include desktop {
        border-bottom: 4px solid $primary-color-1;
      }
    }
  }

  &--notifications {
    @include desktop {
      flex: 0.2;
    }
  }
}

.search-form {
  @include desktop {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: start;
  }

  &__icon {
    @include desktop {
      display: none !important;
    }
  }

  &__input {
    // display: none;

    &--mobile-search {
      width: 100%;
      border: 1px solid gray;
    }

    @include desktop {
      display: flex;
      width: 24rem;
      border: 1px solid $base-color;
    }
  }

  &__button {
    // display: none;

    &--mobile {
      margin-top: 12px;
      width: 85px;
    }

    @include desktop {
      display: block;
      width: 120px;
    }
  }
}

.profile-nav {
  @include desktop {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-right: 1rem;
    flex: 0.77;
    justify-content: end;
  }

  &__name {
    display: none;

    @include desktop {
      display: flex;
    }
  }

  &__menu-link {
    text-decoration: none;
    justify-content: end;

    &--logo {
      display: none;

      @include desktop {
        text-decoration: none;
        display: flex;
        width: 80px;
        order: -2;
        padding-left: 16px;
      }
    }
  }

  &__more {
    display: none !important;

    @include desktop {
      display: flex !important;
    }
  }

  &__icon {
    display: flex;

    @include desktop {
      display: none !important;
    }
  }

  &__wrapper {
    display: flex;
    gap: 4px;
    align-items: center;
    cursor: pointer;
  }

  &__menu {
    display: none !important;

    @include desktop {
      display: flex !important;
      fill: $primary-color-1 !important;
    }
  }

  &__avatar {
    display: none;

    @include desktop {
      display: flex;
    }
  }

  &__menu-list {
    display: none;

    @include desktop {
      display: block;
      position: absolute;
      background-color: $secondary-color-2;
      min-width: 160px;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
      z-index: 1;
      top: 65px;
      padding: 0;
      text-align: right;
      font-size: 13px;
      border-radius: 8px 0 0 0;
      cursor: pointer;
    }
  }

  &__menu-item {
    @include desktop {
      color: $primary-color-1;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      border-bottom: 1px solid $base-color;
    }

    &:hover {
      @include desktop {
        color: $primary-color-1;
        font-weight: 600;
        background-color: rgb(255, 255, 255);
        border-radius: 8px 0 0 0;
      }
    }
  }

  &__search-list {
    display: block;
    position: absolute;
    background-color: #ffffff;
    min-width: 40%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 54px;
    padding: 0;
    text-align: right;
    font-size: 13px;
    border-radius: 8px;
    cursor: pointer;
    left: 18%;
  }
}

.create-story {
  display: flex;

  @include desktop {
    display: none !important;
    flex: 0.2;
  }
}

.create-story {
  background-color: $primary-color-1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-15px);
  bottom: 16px;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3);

  @include tablet {
    width: 60px;
    height: 60px;
    transform: translateY(-33px);
  }

  &__icon {
    fill: white !important;

    @include tablet {
      width: 35px !important;
      height: 35px !important;
    }
  }
}

.search-avatar {
  width: 36px;
  height: 36px;

  @include desktop {
    width: 80px;
    height: 80px;
  }
}

.search-close {
  padding: 8px 16px;
  text-decoration: underline;
  color: $accent-color-1;
  border-top: 1px solid $base-color;
}

.search-inputs {
  display: none;

  &--mobile-search {
    width: 100%;
    border: 1px solid $base-color;
  }

  @include desktop {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &--mobile-search {
    position: absolute;
    top: -60px;
    left: 16px;
    right: 16px;
    gap: 8px;
    display: flex;
    align-items: baseline;
  }
}

.search-container {
  position: relative;

  @include desktop {
    order: -1;
    margin-left: 8.5em;
    flex: 3;
  }
}

.search-icon {
  display: none;
  cursor: pointer;
}

.search-input {
  width: 100%;
  padding: 10px;
}

.search-input.mobile {
  display: none;
}

.search-results {
  background: $secondary-color-2;
  width: 100%;
  max-height: 230px;
  overflow-y: auto;
  border: 1px solid $base-color;
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  @include tablet {
    top: 154px;
  }

  @include desktop {
    width: 80%;
    top: 58px;
    position: absolute;
    padding: 0;
  }

  &__box {
    @include desktop {
      display: flex;
      width: auto;
      flex-wrap: wrap;
      gap: 16px;
    }
  }
}

.mobile-search-form {
  flex: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;

  @include tablet {
    top: 94px;
  }

  @include desktop {
    display: none;
  }
}

.close-btn {
  background: none;
  border: none;
  cursor: pointer;
  flex: 0.1;
  color: $accent-color-1;
  font-weight: 700;
  font-size: 11px;

  &--desktop {
    display: none;

    @include desktop {
      display: flex;
      justify-content: end;
    }
  }
}

.search-input.desktop {
  display: none;

  @include desktop {
    display: block;
  }
}

.search-icon {
  display: block;

  @include desktop {
    display: none;
  }
}

.search-input.mobile {
  display: block;

  @include desktop {
    display: none;
  }
}
