@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.itinerary-add-btn {
  max-width: 6.25rem;
}

.activity {
  font-size: 0.875rem;
}

.activity-input {
  display: flex;
  margin: 0.25rem 0;
  width: 100%;
  border: 1px solid $base-color;
}

.activity-header {
  color: $primary-color-1;
  font-weight: 700;
  font-size: 0.6875rem;
}

.activity-notes-label {
  font-size: 0.6875rem;
}
