@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.home {
  min-height: 100vh;

  @include desktop {
    display: flex;
    position: relative;
    top: 70px;
  }
}
